.gradle
.classpath
bin/
.DS_Store
build
results
java.hprof.txt
src/main/xtend-gen/blang/examples/.gitignore
src/main/xtend-gen/blang/mcmc/.gitignore
src/main/xtend-gen/blang/runtime/.gitignore
src/main/xtend-gen/blang/types/.gitignore
src/main/xtend-gen/blang/utils/.gitignore
samples
failed-test-info-*
doc/www/ace
doc/ace-master
doc/bootstrap
doc/www/dist
Home.html
Quick_Start.html
data.csv
Reference.html
doc/eclipse-release-assembly/plain-eclipse/Eclipse.app
doc/eclipse-release-assembly/blang
doc/www/downloads
Getting_started.html
doc/www/Blang_IDE.html
doc/www/Blang_in_browser.html
doc/www/Blang_via_web.html
logNormEstimate.txt
runningTimeSummary.tsv
index.html
Useful_types.html
Built-in_random_variables.html
Random_variables.html
Reading_from_command_line.html
Syntax_reference.html
doc/www/Inference_and_runtime.html
doc/www/Template.html
Creating_random_types.html
Input_and_output.html
Testing_Blang_models.html
Distributions.html
Functions.html
Examples.html
CLI.html
